@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--background: #f9f7f3;
	--foreground: #171717;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: 'Public Sans', system-ui;
	font-weight: 500;
}

h1,
h2 {
	font-family: 'Playfair Display', serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--background: 25 0% 100%;
		--foreground: 25 0% 10%;
		--card: 25 0% 100%;
		--card-foreground: 25 0% 15%;
		--popover: 25 0% 100%;
		--popover-foreground: 25 95% 10%;
		--primary: 25 50% 84%;
		--primary-foreground: 0 0% 0%;
		--secondary: 25 10% 90%;
		--secondary-foreground: 0 0% 0%;
		--muted: -13 10% 95%;
		--muted-foreground: 25 0% 40%;
		--accent: -13 10% 90%;
		--accent-foreground: 25 0% 15%;
		--destructive: 0 50% 50%;
		--destructive-foreground: 25 0% 100%;
		--border: 25 20% 82%;
		--input: 25 20% 50%;
		--ring: 25 50% 84%;
		--radius: 0.75rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
