@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:wght@500&display=swap');

body {
	font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 500;
}

button,
a {
	transition: all 0.3s ease;
}

/* Use scaleZ(1) to use GPU rendering */
button {
	transform: scale(1) scaleZ(1);
}

button:hover {
	transform: scale(1.05) scaleZ(1.01);
}
