@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #fffcf7;
	color: #242322;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	--accent: #a48374;
	--background: #f1ede6;
	--foreground: #242322;
}

.inter {
	font-family: 'Inter', sans-serif;
}

.playfair {
	font-family: 'Playfair Display', serif;
}

.bg-accent {
	background-color: var(--accent);
}
